{# src/AppBundle/Resources/views/Manage/index.html.twig #}
{% extends 'AppBundle:Manage:index.html.twig' %}
{% block title %}Edit Workflows{% endblock %}

{% block container %}
   		 <div class="container">

		      <div class="workflow_engine-template">
		        <h1>Edit a workflow <span class="glyphicon glyphicon-tower" aria-hidden="true"></span></h1>
		        
   		{{ form_start(form) }}
		    {{ form_errors(form) }}		
		    {{ form_row(form.name) }}
		    {{ form_row(form.description) }}
			{{ form_row(form.stub) }}
			{{ form_row(form.publishing) }}
			{{ form_row(form.auto) }}
			{{ form_row(form.isConcat) }}
			{{ form_row(form.ruleType) }}
			{{ form_row(form.farmId) }}
		    <input type="submit" />
		{{ form_end(form) }}
		       
		       
		       
		        </div>
		      

    	</div><!-- /.container -->
    	{% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
 		{% endblock %}


