{# src/AppBundle/Resources/views/Manage/index.html.twig #}
{% extends 'AppBundle:Default:index.html.twig' %}
{% block title %}Manage Workflows{% endblock %}

{% block container %}
   		 <div class="container">

		      <div class="workflow_engine-template">
		        <h1>Manage workflows <span class="glyphicon glyphicon-tower" aria-hidden="true"></span></h1>
		        
		       
		        <span class="label label-info">Info</span>
		        <p class="lead">The workflow engine is a work in progress.</p>
		      </div>
		      
  				<div class="row">
      				<div class="col-xs-6 col-md-7">publishing workflows</div>
		      	</div>
		      	<table class="table table-hover">
		      	<thead>
		      	<th>Id</th>
		      	<th>Family</th>
				<th>Name</th>
				<th>stub</th>
				<th>runs on thread </th>
				<th>is auto </th>
				<th>is concat </th>
		      	
		      	</thead>
		      	<tbody>
		      	
				{% for rpublishingworkflow in rpublishingworkflows %}
				<tr>
					<td>{{ rpublishingworkflow.workflowId }} </td>
					<td>{{ rpublishingworkflow.publishing.name }} </td>
					<td>{{ rpublishingworkflow.name }} </td>
					<td>{{ rpublishingworkflow.stub}} </td>
					<td>{{ rpublishingworkflow.farmId}} </td>
					<td>{{ rpublishingworkflow.auto}} </td>
					<td>{{ rpublishingworkflow.isConcat}} </td>
				</tr>
				{% endfor %}
				
				</tbody>
				</table>
				
    	</div><!-- /.container -->
    	{% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
 		{% endblock %}


