{# src/AppBundle/Resources/views/Manage/index.html.twig #}
{% extends 'AppBundle:Default:index.html.twig' %}
{% block title %}Manage Workflows{% endblock %}
{% block additionalcssfiles %}
	<link rel="stylesheet" href="{{ asset('css/workflow_manage.css') }}" />
{% endblock %}
{% block additionaljsfiles %}
	<script type="text/javascript" src="{{ asset('js/workflow_manage.js') }}"></script>
{% endblock %}
{% block container %}
		{% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
   		 <div class="container">

		      <div class="workflow_engine-template">
		        <h1>Manage workflows <span class="glyphicon glyphicon-tower" aria-hidden="true"></span></h1>
				{% if app.session.started %}
				    {% for flashMessage in app.session.flashbag.get('notice') %}
				        <div class="alert alert-{{ flashMessage.alert }} alert-dismissible" role="alert">
				            <button type="button" class="close" data-dismiss="alert">
				                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				            </button>
				            <strong>{{ flashMessage.title }}</strong> {{ flashMessage.message }}
				        </div>
				    {% endfor %}
				{% endif %}
  				<div class="row">
      				<div class="col-xs-6 col-md-7"><h2>publishing workflows</h2></div>
 
		      	</div>
		      	<div class="row">
		      	<button class="btn btn-primary" id="createbutton" ><span class="glyphicon glyphicon-plus-sign"></span>{% trans with {'%item%': 'workflow'} from "form" %} Create a new %item%{% endtrans %}</button>
		      	
		      	
		      	</div>
		      	<div class="row" id="formhidden">
		      		<!--  form to create a workflow  -->
		      		<div  class="col-xs-6 col-md-7">
			      	{{ form_start(form) }}
					    {{ form_errors(form) }}		
					    {{ form_row(form.name) }}
					    {{ form_row(form.description) }}
						{{ form_row(form.stub) }}
						{{ form_row(form.publishing) }}
						{{ form_row(form.auto) }}
						{{ form_row(form.isConcat) }}
						{{ form_row(form.ruleType) }}
						{{ form_row(form.farmId) }}
					    <input type="submit" />
					{{ form_end(form) }}
		       		</div>
		      	</div> 
		      	{% block listcontainers %}
		      	<table class="table table-hover">
		      	<thead>
		      	<th>Id</th>
		      	<th>Family</th>
				<th>Name</th>
				<th>stub</th>
				<th>runs on thread </th>
				<th>is auto </th>
				<th>is concat </th>
		      	<th>Edit workflow</th>
		      	<th>delete workflow</th>
		      	</thead>
		      	<tbody>
		      	
				{% for rpublishingworkflow in rpublishingworkflows %}
				<tr >
					<td>{{ rpublishingworkflow.workflowId }} </td>
					<td>{{ rpublishingworkflow.publishing.name }}</td>
					<td><a href="{{ path('manage_edit', {'workflowid': rpublishingworkflow.workflowId}) }}">{{ rpublishingworkflow.name }}</a></td>
					<td>{{ rpublishingworkflow.stub}} </td>
					<td>{{ rpublishingworkflow.farmId}} </td>
					<td>{{ rpublishingworkflow.auto ? '<button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok-sign"></span></button> ' : '' }} </td>
					<td>{{ rpublishingworkflow.isConcat ? '<button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok-sign"></span></button> ' : ''}} </td>
					<td><a href="{{ path('manage_edit', {'workflowid': rpublishingworkflow.workflowId}) }}" class="btn btn-primary" ><span class="glyphicon glyphicon-pencil"></span> Edit</a> </td>
					<td><a href="{{ path('manage_delete', {'workflowid': rpublishingworkflow.workflowId}) }}"" class="btn btn-danger" ><span class="glyphicon glyphicon-remove-sign"></span> Delete </a></td>
				</tr>
				{% endfor %}
			
				</tbody>
				</table>
					{% endblock %}
				
    	</div><!-- /.container -->
    
 		{% endblock %}


