{# src/AppBundle/Resources/views/Manage/index.html.twig #}
{% extends 'AppBundle:Default:index.html.twig' %}
{% block title %}Manage Workflows{% endblock %}
{% block additionalcssfiles %}
	<link rel="stylesheet" href="{{ asset('css/workflow_manage.css') }}" />
{% endblock %}
{% block additionaljsfiles %}
	<script type="text/javascript" src="{{ asset('js/workflow_manage.js') }}"></script>
{% endblock %}
{% block container %}
   		 <div class="container">

		      <div class="workflow_engine-template">
		        <h1>Manage workflows <span class="glyphicon glyphicon-tower" aria-hidden="true"></span></h1>
		      
  				<div class="row">
      				<div class="col-xs-6 col-md-7"><h2>publishing workflows</h2></div>
 
		      	</div>
		      	<div class="row">
		      	<button type="button" id="createbutton" class="btn btn-default">{% trans with {'%item%': 'workflow'} from "form" %}create a new %item%{% endtrans %}</button>
		      	</div>
		      	<div class="row" id="formhidden">
		      		<!--  form to create a workflow  -->
		      		<div  class="col-xs-6 col-md-7">
			      	{{ form_start(form) }}
					    {{ form_errors(form) }}		
					    {{ form_row(form.name) }}
					    {{ form_row(form.description) }}
						{{ form_row(form.stub) }}
						{{ form_row(form.publishing) }}
						{{ form_row(form.auto) }}
						{{ form_row(form.isConcat) }}
						{{ form_row(form.ruleType) }}
						{{ form_row(form.farmId) }}
					    <input type="submit" />
					{{ form_end(form) }}
		       		</div>
		      	</div> 
		      	<table class="table table-hover">
		      	<thead>
		      	<th>Id</th>
		      	<th>Family</th>
				<th>Name</th>
				<th>stub</th>
				<th>runs on thread </th>
				<th>is auto </th>
				<th>is concat </th>
		      	
		      	</thead>
		      	<tbody>
		      
				{% for rpublishingworkflow in rpublishingworkflows %}
				<tr >
					<td>{{ rpublishingworkflow.workflowId }} </td>
					<td ><a href="{{ path('manage_edit', {'wokflowid': rpublishingworkflow.workflowId}) }}">{{ rpublishingworkflow.publishing.name }}</a> </td>
					<td>{{ rpublishingworkflow.name }} </td>
					<td>{{ rpublishingworkflow.stub}} </td>
					<td>{{ rpublishingworkflow.farmId}} </td>
					<td>{{ rpublishingworkflow.auto}} </td>
					<td>{{ rpublishingworkflow.isConcat}} </td>
				</tr>
				{% endfor %}
				
				</tbody>
				</table>
				
    	</div><!-- /.container -->
    	{% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
 		{% endblock %}


